@font-face {
    font-family: 'stay_classy_sldtregular';
    src: url('font/stay_classy_sldt-webfont.woff2') format('woff2'),
         url('font/stay_classy_sldt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* ---------- BODY */
body {
    font-family: Verdana;
    background: radial-gradient(#ffffff,#353535);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    /* pour centrer tout le site */
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 1500px;
    width: 1080px;
}

/* ---------- all div elements in the main area = left-area and right-area*/
#main_area > div {
    height: 1500px;
}

/* ---------- main area in the page */
#main_area {
    width: 1080px;
}

/* ---------- LEFT AREA */
#left_area {
    float: left;
    width: 350px;
    background: #000000b0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.white_menu {
    color: #cccccc;
    margin: 0;
    margin-left: 30px;
}

/* ---------- RIGHT AREA */
#right_area {
    float: right;
    width: 730px;
    background: #ffffff70;
}

.black_menu {
    color: #000000;
    margin: 0;
    margin-left: 40px;
    margin-top: 30px;
}

/* ---------- Title of topics */
.title_topics {
    font-size: 20pt;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0;
    margin-bottom: 5px;
    font-variant-caps: small-caps;
}

.horizontal_line_topics {
    display: flex;
    border-bottom: 3px solid rgba(0, 0, 0, 0.7);
    width: 100px;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

/* ---------- Titles and subtitles all over the page */


/* -------- title */
.title_name {
    font-family: 'stay_classy_sldtregular';
    font-size: 50pt;
    letter-spacing: 3px;
    font-weight: bold;
    margin: 0;
}

.title_volunteering, .title_education, .title_experiences, .title_skills {
    font-size: 13pt;
    font-weight: bold;
    margin: 0;
    margin-bottom: 2px;
}

.title_languages {
    font-size: 13pt;
    font-weight: bold;
    margin: 0;
    margin-bottom: 2px;
}

.title_cv {
    font-size: 35pt;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-variant-caps: small-caps;
    text-align: center;
    margin-left: 50px;
}
#cv_area {
    box-shadow: -10px 10px 3px 0px rgba(0, 0, 0, 0.5);
    height: 90px;
    background: #ffffff77;
    margin-left: -50px;
    margin-top: 50px;
    margin-bottom: 30px;
}

/* -------- subtitle */
.subtitle_cv {
    font-size: 18.75pt;
    font-weight: bold;
    font-variant-caps: small-caps;
    text-align: center;
    margin-top: -50px;
}

.subtitle_volunteering, .subtitle_experiences, .subtitle_education {
    font-size: 10.5pt;
    font-style: italic;
    line-height: 1.4;
    margin: 0;
}

/* -------- text */
.text_contact {
    font-size: 12pt;
    line-height: 1.45;
    margin: 0;
    margin-bottom: 15px;
    margin-left: 10px;
}

.text_personality {
    font-size: 12pt;
    margin: 0;
}

.text_volunteering {
    font-size: 10.5pt;
    line-height: 1.4;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 30px;
}

.text_description {
    font-size: 11pt;
    font-style: italic;
    text-align: center;
}

.text_experiences {
    font-size: 10.5pt;
    margin: 0;
}

.text_education {
    font-size: 10.5pt;
    line-height: 1.4;
    margin: 0;
    margin-top: 23px;
}

.text_languages {
    font-size: 13pt;
    margin: 0;
    margin-bottom: 2px;
}

.text_reference {
    font-size: 12pt;
    line-height: 1.4;
    margin: 0;
    margin-top: 23px;
    padding-left: 20px;
}

/* -------- PUCES */

.note {
    float: left;
    display: flex;
    margin-left: 0;
}

.circle {
    background-color: rgba(255, 255, 255, 0.7);
    width: 5px;
    height: 5px;
    border-radius: 7.5px;
    margin: 0;
    margin-top: 8px;
    margin-right: 10px;
    margin-left: 10px;
}

.circle_black {
    background-color: rgba(0, 0, 0, 0.7);
    width: 6px;
    height: 6px;
    border-radius: 7.5px;
    margin: 0;
    margin-top: 8px;
    margin-right: 10px;
    margin-left: 10px;
}
